Repository RealDeviceMap/RealDeviceMap, pull requests merged in 2021-05, with the labels that each got.

#213 Fix Swift Workflow
  .github/workflows/swift.yml
Labels: backend, bugfix, patch

#204 QOL: new instance type Smart Pokemon, RW account toggles, Assignment Groups
  Sources/RealDeviceMap/API/ApiRequestHandler.swift
  Sources/RealDeviceMap/Controller/AssignmentController.swift
  Sources/RealDeviceMap/Controller/DBController.swift
  Sources/RealDeviceMap/Controller/InstanceControllers/AutoInstanceController.swift
  Sources/RealDeviceMap/Controller/InstanceControllers/CircleInstanceController.swift
  Sources/RealDeviceMap/Controller/InstanceControllers/InstanceController.swift
  Sources/RealDeviceMap/Controller/MailController.swift
  Sources/RealDeviceMap/Controller/WebHookController.swift
  Sources/RealDeviceMap/Misc/Item.swift
  Sources/RealDeviceMap/Misc/main.swift
  Sources/RealDeviceMap/Modell/AssignmentGroup.swift
  Sources/RealDeviceMap/Modell/Group.swift
  Sources/RealDeviceMap/Modell/Gym.swift
  Sources/RealDeviceMap/Modell/Instance.swift
  Sources/RealDeviceMap/Modell/Pokemon.swift
  Sources/RealDeviceMap/Modell/Pokestop.swift
  Sources/RealDeviceMap/Web/WebRequestHandler.swift
  Sources/RealDeviceMap/Web/WebRoutes.swift
  Sources/RealDeviceMap/Web/WebServer.swift
  Sources/RealDeviceMap/Web/WebStaticRequestHandler.swift
  Sources/RealDeviceMap/Webhook/WebHookRequestHandler.swift
  docker-compose.yml
  resources/migrations/68.sql
  resources/webroot/dashboard.mustache
  resources/webroot/dashboard_assignmentgroup_add.mustache
  resources/webroot/dashboard_assignmentgroup_delete.mustache
  resources/webroot/dashboard_assignmentgroup_edit.mustache
  resources/webroot/dashboard_assignmentgroup_request.mustache
  resources/webroot/dashboard_assignmentgroup_start.mustache
  resources/webroot/dashboard_assignmentgroups.mustache
  resources/webroot/dashboard_instance_add.mustache
  resources/webroot/dashboard_instance_edit.mustache
  resources/webroot/header.mustache
  resources/webroot/index.js.mustache
Labels: backend, db-migration, enhancement, frontend, minor

#216 Include Gender Requirement in PVP Calculation
  Sources/RealDeviceMap/Misc/PVPStatsManager.swift
  Sources/RealDeviceMap/Modell/Pokemon.swift
Labels: backend, bug, patch

#186 AR Scan Eligible
  Sources/RealDeviceMap/API/ApiRequestHandler.swift
  Sources/RealDeviceMap/Modell/Gym.swift
  Sources/RealDeviceMap/Modell/Pokestop.swift
  resources/migrations/69.sql
  resources/webroot/index.js.mustache
  resources/webroot/static/data/de.json
  resources/webroot/static/data/en.json
Labels: backend, db-migration, frontend, minor
