Repository RealDeviceMap/RealDeviceMap, pull requests merged in 2021-12, with the labels that each got.

#210 fixed deprecation notices
  Sources/RealDeviceMapLib/Controller/InstanceControllers/InstanceController.swift
  Sources/RealDeviceMapLib/Misc/Dir.swift
  Sources/RealDeviceMapLib/Misc/Log.swift
  Sources/RealDeviceMapLib/Misc/Shell.swift
  Sources/RealDeviceMapLib/Modell/Pokestop.swift
  Sources/RealDeviceMapLib/setup.swift
Labels: backend, bugfix, patch

#199 Pokémon size doesn't refer static to size literals
  Sources/RealDeviceMapLib/Misc/PVPStatsManager.swift
  Sources/RealDeviceMapLib/Modell/Pokemon.swift
  resources/webroot/index.js.mustache
Labels: backend, frontend, bugfix, patch

#252 Use WatWowMap/pogo-translations for translations
  Sources/RealDeviceMapLib/Misc/Localizer.swift
  Sources/RealDeviceMapLib/Web/WebRequestHandler.swift
  Sources/RealDeviceMapLib/setup.swift
  resources/webroot/index.js.mustache
  resources/webroot/static/data/de.json
  resources/webroot/static/data/en.json
Labels: enhancement, frontend

#256 use ingame quest title
  Sources/RealDeviceMapLib/Modell/Pokestop.swift
  Sources/RealDeviceMapLib/Web/WebRequestHandler.swift
  Sources/RealDeviceMapLib/Webhook/WebHookRequestHandler.swift
  resources/migrations/70.sql
Labels: backend

#245 stats page reworked (credits @versx)
  Sources/RealDeviceMapLib/API/ApiRequestHandler.swift
  Sources/RealDeviceMapLib/Controller/DBController.swift
  Sources/RealDeviceMapLib/Modell/Stats.swift
  Sources/RealDeviceMapLib/Web/WebRequestHandler.swift
  Sources/RealDeviceMapLib/Web/WebRoutes.swift
  Sources/RealDeviceMapLib/Web/WebServer.swift
  resources/migrations/71.sql
  resources/webroot/header-head.mustache
  resources/webroot/static/css/stats.css
  resources/webroot/static/data/de.json
  resources/webroot/static/data/en.json
  resources/webroot/static/js/utils.js
  resources/webroot/stats.mustache
Labels: backend, frontend, db-migration

#253 Webhook data control rework of #107
  Sources/RealDeviceMapLib/API/ApiRequestHandler.swift
  Sources/RealDeviceMapLib/Controller/WebHookController.swift
  Sources/RealDeviceMapLib/Modell/Webhook.swift
  Sources/RealDeviceMapLib/Web/WebRequestHandler.swift
  Sources/RealDeviceMapLib/Web/WebRoutes.swift
  Sources/RealDeviceMapLib/Web/WebServer.swift
  Sources/RealDeviceMapLib/setup.swift
  resources/migrations/72.sql
  resources/webroot/dashboard.mustache
  resources/webroot/dashboard_settings.mustache
  resources/webroot/dashboard_webhook_add.mustache
  resources/webroot/dashboard_webhook_delete.mustache
  resources/webroot/dashboard_webhook_edit.mustache
  resources/webroot/dashboard_webhooks.mustache
  resources/webroot/header.mustache
Labels: enhancement, backend, db-migration

#261 fix warnings and misspellings
  Sources/RealDeviceMapLib/Controller/DBController.swift
  Sources/RealDeviceMapLib/Misc/String.swift
  Sources/RealDeviceMapLib/Modell/Gym.swift
  Sources/RealDeviceMapLib/Modell/SubmissionPlacementCell.swift
  Sources/RealDeviceMapLib/Modell/SubmissionTypeCell.swift
  Sources/RealDeviceMapLib/Modell/User.swift
  Sources/RealDeviceMapLib/Webhook/WebHookRequestHandler.swift
  Sources/RealDeviceMapLib/Webhook/WebHookServer.swift
  Sources/RealDeviceMapLib/setup.swift
  resources/migrations/73.sql
  resources/webroot/index.js.mustache
Labels: backend, db-migration

#233 Alternative-Quest scanning support
  Sources/RealDeviceMapLib/API/ApiRequestHandler.swift
  Sources/RealDeviceMapLib/Controller/InstanceControllers/AutoInstanceController.swift
  Sources/RealDeviceMapLib/Controller/InstanceControllers/InstanceController.swift
  Sources/RealDeviceMapLib/Controller/WebHookController.swift
  Sources/RealDeviceMapLib/Modell/Pokestop.swift
  Sources/RealDeviceMapLib/Web/WebRequestHandler.swift
  Sources/RealDeviceMapLib/Webhook/WebHookRequestHandler.swift
  resources/migrations/70.sql
  resources/migrations/74.sql
  resources/webroot/dashboard_instance_add.mustache
  resources/webroot/dashboard_instance_edit.mustache
  resources/webroot/index.js.mustache
  resources/webroot/static/data/de.json
  resources/webroot/static/data/en.json
Labels: enhancement, backend, frontend, db-migration, minor

#263 Fix webhook flow and error log improvements
  Sources/RealDeviceMapLib/Controller/WebHookController.swift
  Sources/RealDeviceMapLib/Modell/Account.swift
  Sources/RealDeviceMapLib/Modell/Assignment.swift
  Sources/RealDeviceMapLib/Modell/Gym.swift
  Sources/RealDeviceMapLib/Modell/Pokemon.swift
  Sources/RealDeviceMapLib/Modell/Pokestop.swift
  Sources/RealDeviceMapLib/Modell/Webhook.swift
  Sources/RealDeviceMapLib/Webhook/WebHookRequestHandler.swift
  resources/migrations/75.sql
  resources/webroot/dashboard_webhook_add.mustache
  resources/webroot/dashboard_webhooks.mustache
Labels: db-migration

#269 fix loading storage for RDM Frontend
  resources/webroot/index.js.mustache
Labels: frontend, bugfix
