Repository RealDeviceMap/RealDeviceMap, pull requests merged in 2022-01, with the labels that each got.

#279 fix quest database table
  resources/migrations/77.sql
Labels: db-migration

#98 Cache S2 cellIDs for bootstrapping in DB
  Sources/RealDeviceMapLib/Controller/InstanceControllers/AutoInstanceController.swift
  Sources/RealDeviceMapLib/Misc/MultiPolygon.swift
  Sources/RealDeviceMapLib/Misc/PersistentHashable.swift
  resources/migrations/78.sql
Labels: enhancement, backend, db-migration, minor

#286 Stats- default date to today
  resources/webroot/stats.mustache
Labels: frontend

#289 Fix ditto for weatherchange
  Sources/RealDeviceMapLib/Modell/Pokemon.swift
Labels: bugfix
